header,
footer,
aside,
nav,
form,
iframe,
.menu,
.hero,
.adslot,
.print {
    display: none!important;
}

@media print {
    .print-row {
        /* display: block!important; */
        height: 400px!important;
        width: 210px!important;
    }
}