    hr {
        padding-bottom: 15px;
        border-top: 1px solid #000000 !important;
    }

    .fa,
    .fas {
        font-size: 20px !important;
    }

    a.toplink {
        color: #ffffff;
    }

    .fab {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #005EB8;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 3px #42556356;
    }

    .fa-chevron-up {
        margin-top: 22px !important;
    }